#dashboard {
  display: flex;  
  height: 100vh;
  widows: 100vw;
  flex-direction: column;
}

#map-display {
  flex: 1;
}

#travel-panel {
  flex: 1;
  height: 100vh;
}

#photo-panel {
  padding: 0 1em;
}

#photos {
  overflow-y: scroll;
}

h1 {
  margin-top: 0em;
}

@media (min-width: 666px) {

  #dashboard {
    flex-direction: row;
  }

  #map-display {
    flex: 2;
  }
  
  #travel-panel {
    flex: 1;
    height: 100vh;
    padding: 1em 0.5em;
    overflow-y: scroll;
  }
  
}